[Desktop Entry]
Actions=openantigravitydir
MimeType=inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action openantigravitydir]
Exec=antigravity %u
Icon=antigravity
Name=Open with Antigravity
